.tech-icon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; /* adjust the space between icons */
}
  
.tech-icon {
    width: 100px; /* adjust the icon container width */
    height: 100px; /* adjust the icon container height */
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.tech-icon img {
    max-width: 100%;
    max-height: 100%;
}
